---
import EducationItem from "./EducationItem.astro";

const EDUCATION = [
  {
    date: "2024",
    title: "Universidad del Tolima",
    description: ["Ingeniería de Sistemas - Quinto Semestre"]
  },
  {
    date: "2024",
    title: "Python Institute",
    description: ["PCEP™ – Certified Entry-Level Python Programmer"]
  },
  {
    date: "2024",
    title: "Universidad Nacional de Colombia",
    description: ["Diplomado en Desarrollo de Aplicaciones Móviles"]
  },
  {
    date: "2024-2025",
    title: "ALURA",
    description: [
      "Curso Java y Spring Boot (2024)",
      "Curso Java Web (2024)",
      "Curso Java con Orientación a Objetos (2024)",
      "Curso Git y GitHub (2024)",
      "Curso de HTML5 y CSS3 (2024)",
      "Curso de Lógica de Programación (2024)",
      "Administración de MySQL (2024)",
      "Procedures SQL (2024)",
      "SQL con MySQL (2024)",
      "Comandos DML (2024)",
      "Curso de React (2025)",
      "Curso de Explora React con JavaScript (2025)",
      "Curso de Nivelación TypeScript y React (2025)",
      "Curso de HTML y CSS para Proyectos Web (2025)",
      "Curso de Lógica de Programación con JavaScript (2025)",
    ],
  },
  {
    date: "2023",
    title: "PLATZI",
    description: ["Curso Básico de Python"]
  },
  {
    date: "2023",
    title: "HUAWEI",
    description: ["Curso de entrenamiento HCIA Cloud Service 2023"]
  },
  {
    date: "2022",
    title: "SENA",
    description: [
      "Conceptualización del Lenguaje de Programación C++",
      "Metodología de la programación de sistemas informáticos"
    ]
  },
  {
    date: "2022",
    title: "DS4A COLOMBIA",
    description: ["Fundamentos en Analítica de Datos"]
  }
];
---

<ol class="relative border-s border-gray-200 ml-10">
  {
    EDUCATION.map((education) => (
      <li class="mb-10 ms-4">
        <EducationItem {...education} />
      </li>
    ))
  }
</ol>
